{%- extends '../../common/layouts/default.njk' -%}
{%- set page_title = 'Critical services' -%}
{%- set filterCriticalActive = true -%}

{%- block content -%}

<h1 class="govuk-heading-xl">
  Critical services
</h1>
<p class="govuk-body">
  There are {{filteredData.stats.service_count}} critical services in total.
</p>

{%- for directorate in filteredData -%}
  <div class="app-inset-text govuk-!-margin-top-6">
    <h2 class="govuk-heading-m">{{directorate.name}}</h2>
    {%- for function in directorate.functions -%}
      <h3 class="govuk-heading-s">
        {{function.name}}
      </h3>
      {%- if function.services.length === 0 -%}
        <p class="govuk-body">No critical services.</p>
      {%- else -%}
        <ul class="govuk-list govuk-list--bullet">
          {%- for service in function.services -%}
          <li class="govuk-!-margin-bottom-5">
            {{service.name}}<br />
            <p class="govuk-visually-hidden">
              Labels for {{service.name}}:
            </p>
            {{- labels(service, {add_classes: 'app-tag'}) -}}
          </li>
          {%- endfor -%}
        </ul>
      {%- endif -%}
    {%- endfor -%}
  </div>
{%- endfor -%}

{%- endblock -%}
