{%- if liveServices.length > 0 -%}
  <h2 class="govuk-heading-l">Services which are live</h2>
  <div class="app-inset-text">
    {%- for service in liveServices -%}
      <div class="govuk-!-margin-bottom-9">
        <h3 class="govuk-heading-m">
          {{- service.name -}}
          {%- if service.alias.length > 0 -%}
            <span class="govuk-visually-hidden"> also known as</span><span class="govuk-caption-m">{{service.alias}}</span>
          {%- endif -%}
        </h3>
       
        <h4 class="govuk-visually-hidden">
          Risk rating for {{service.name}}
        </h4>
        {%- if service.risk === 'high' -%}
          {%- set tag_text = service.risk + ' risk' -%}
          {%- set tag_class = 'govuk-tag--red' -%}
        {%- elif service.risk === 'medium' -%}
          {%- set tag_text = service.risk + ' risk' -%}
          {%- set tag_class = 'govuk-tag--orange' -%}
        {%- elif service.risk === 'low' -%}
          {%- set tag_text = service.risk + ' risk' -%}
          {%- set tag_class = 'govuk-tag--yellow' -%}
        {%- elif service.risk === 'compliant' -%}
          {%- set tag_text = service.risk -%}
          {%- set tag_class = 'govuk-tag--green' -%}
        {%- else -%}
          {%- set tag_text = service.risk + ' risk' -%}
          {%- set tag_class = 'govuk-tag--grey' -%}
        {%- endif -%}
        {{ govukTag({
          text: tag_text,
          classes: tag_class
        }) }}

        <h4 class="govuk-visually-hidden">
          Service type for {{service.name}}
        </h4>
        {{ govukTag({
          text: service.type + ' facing'
        }) }}

        {%- if service.critical === true or service.sunsetting === true -%}
          <h4 class="govuk-visually-hidden">
            Additional information for {{service.name}}
          </h4>
          {%- if service.critical === true -%}
            {{ govukTag({
              text: 'Critical',
              classes: 'govuk-tag--red'
            }) }}
          {%- endif -%}
          
          {%- if service.sunsetting === true -%}
            {{ govukTag({
              text: 'Sunsetting',
              classes: 'govuk-tag--pink'
            }) }}
          {%- endif -%}
        {%- endif -%}

        <h4 class="govuk-visually-hidden">Notes for {{service.name}}</h4>
        <p>
          {{- service.notes -}}
        </p>

        {%- if service.planned_compliance === true -%}
          {{ progressBar({
            heading: 'Progress',
            heading_level: 4,
            compliance_rate: service.stats.progress,
            stat_summary: (totalTextTrue if params.stats_type === 'true' else totalTextStrategic)
          }) }}
        {%- else -%}
          {{ govukWarningText({
            text: "This service has no plans for compliance.",
            iconFallbackText: "Important"
          }) }}
        {%- endif -%}
        
        {# {%- if service.evidence.wcag.fails.length > 0 -%} #}
          {# WCAG Fails #}
        {# {%- endif -%} #}

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              WCAG 2.1 <br />
              manual checks
            </dt>
            <dd class="govuk-summary-list__value">
              {{- service.evidence.wcag.status|capitalize -}}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Screenreader testing
            </dt>
            <dd class="govuk-summary-list__value">
              {{- service.evidence.screenreader.status|capitalize -}}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Speech recognition testing
            </dt>
            <dd class="govuk-summary-list__value">
              {{- service.evidence.speech_recognition.status|capitalize -}}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Magnifier testing
            </dt>
            <dd class="govuk-summary-list__value">
              {{- service.evidence.magnifier.status|capitalize -}}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Accessibility statement
            </dt>
            <dd class="govuk-summary-list__value">
              {{- service.evidence.statement.status|capitalize -}}
              {%- if service.evidence.statement.link.length > 0 -%}
              <br />
              <a class="govuk-link" href="{{service.evidence.statement.link}}">
                View accessibility statement <span class="govuk-visually-hidden"> for {{- service.name -}}</span>
              </a>
            {%- endif -%}
            </dd>
          </div>
        </dl>
      </div>
    {%- endfor -%}
  {%- endif -%}
</div>