<h2 class="navigation">Navigation</h2>
<nav class="app-nav">
  <h3 class="govuk-visually-hidden">Main navigation</h3>
  <ul>
    {%- for parent in nav -%}
      <li class="app-nav__list-item{{' app-nav__list-item--active' if parent.active}}{{' app-nav__list-item--child-active' if parent.child_active}}">
        <a class="govuk-link govuk-link--no-visited-state" href="{{parent.link}}">{{parent.name}}</a>
      </li>
      {%- if parent.active or parent.child_active -%}
      <li>
        <ul>
          {%- for child in parent.children -%}
            <li class="app-nav__list-sub-item{{' app-nav__list-sub-item--active' if child.active}}">
              <a class="govuk-link govuk-link--no-visited-state" href="{{child.link}}">{{child.name}}</a>
            </li>
          {%- endfor -%}
        </ul>
      </li>
      {%- endif -%}
    {%- endfor -%}       
  </ul>
  <h3 class="govuk-caption-m">
    Filters
  </h3>
  <ul>
    <li class="app-nav__list-item{{' app-nav__list-item--active' if filterCompliantActive}}">
      <a class="govuk-link govuk-link--no-visited-state" href="/compliant-services">
        Compliant services
      </a>
    </li>
    <li class="app-nav__list-item{{' app-nav__list-item--active' if filterHighRiskActive}}">
      <a class="govuk-link govuk-link--no-visited-state" href="/high-risk-services">
        High risk services
      </a>
    </li>
    <li class="app-nav__list-item{{' app-nav__list-item--active' if filterMediumRiskActive}}">
      <a class="govuk-link govuk-link--no-visited-state" href="/medium-risk-services">
        Medium risk services
      </a>
    </li>
    <li class="app-nav__list-item{{' app-nav__list-item--active' if filterLowRiskActive}}">
      <a class="govuk-link govuk-link--no-visited-state" href="/low-risk-services">
        Low risk services
      </a>
    </li>
    <li class="app-nav__list-item{{' app-nav__list-item--active' if filterCitizenActive}}">
      <a class="govuk-link govuk-link--no-visited-state" href="/citizen-facing-services">
        Citizen facing services
      </a>
    </li>
    <li class="app-nav__list-item{{' app-nav__list-item--active' if filterStaffActive}}">
      <a class="govuk-link govuk-link--no-visited-state" href="/staff-facing-services">
        Staff facing services
      </a>
    </li>
    <li class="app-nav__list-item{{' app-nav__list-item--active' if filtersSunsettingActive}}">
      <a class="govuk-link govuk-link--no-visited-state" href="/sunsetting-services">
        Sunsetting services
      </a>
    </li>
    <li class="app-nav__list-item{{' app-nav__list-item--active' if filtersNoPlansForCompliance}}">
      <a class="govuk-link govuk-link--no-visited-state" href="/sunsetting-services">
        No plans for compliance
      </a>
    </li>
  </ul>

  <h3 class="govuk-caption-m">
    Support links
  </h3>
  <ul>
    <li class="app-nav__list-item{{' app-nav__list-item--active' if accessibilityStatementActive}}">
      <a class="govuk-link govuk-link--no-visited-state" href="/accessibility-statement">
        Accessibility statement
      </a>
    </li>
    <li class="app-nav__list-item{{' app-nav__list-item--active' if sitemapActive}}">
      <a class="govuk-link govuk-link--no-visited-state" href="/sitemap">
        Sitemap
      </a>
    </li>
  </ul>
</nav>
