{%- extends '../../common/layouts/default.njk' -%}
{%- set sitemapActive = true -%}
{%- set page_title = 'Sitemap' -%}

{%- block content -%}

<h1 class="govuk-heading-xl">
  Sitemap
</h1>

<div class="app-inset-text govuk-!-margin-top-9">
  <h2 class="govuk-heading-m">Navigation</h2>
  <ul class="govuk-list">
    <li><a class="govuk-link" href="/">DWP Digital overview</a></li>
    {%- for directorate in data -%}
      <li><a class="govuk-link" href="{{directorate.link}}">{{directorate.name}}</a></li>
      <li>
        <ul>
          {%- for function in directorate.functions -%}
            <li><a class="govuk-link" href="{{function.link}}">{{function.name}}</a></li>
          {%- endfor -%}
        </ul>
      </li>
    {%- endfor -%}
  </ul>

  <h2 class="govuk-heading-m">Filters</h2>
  <ul class="govuk-list">
    <li>
      <a class="govuk-link" href="/high-risk-services">
        High risk services
      </a>
    </li>
    <li>
      <a class="govuk-link" href="/medium-risk-services">
        Medium risk services
      </a>
    </li>
    <li>
      <a class="govuk-link" href="/low-risk-services">
        Low risk services
      </a>
    </li>
    <li>
      <a class="govuk-link" href="/compliant-services">
        Compliant services
      </a>
    </li>
    <li>
      <a class="govuk-link" href="/citizen-facing-services">
        Citizen facing services
      </a>
    </li>
    <li>
      <a class="govuk-link" href="/staff-facing-services">
        Staff facing services
      </a>
    </li>
    <li>
      <a class="govuk-link" href="/sunsetting-services">
        Sunsetting services
      </a>
    </li>
    <li>
      <a class="govuk-link" href="/no-plans-for-compliance">
        No plans for compliance
      </a>
    </li>
  </ul>

  <h2 class="govuk-heading-m">Support links</h2>
  <ul class="govuk-list">
    <li><a class="govuk-link" href="/accessibility-statement">Accessibility statement</a></li>
    <li><a class="govuk-link" href="/next-steps-for-this-report">Next steps for this report</a></li>
    <li><a class="govuk-link" href="/sitemap">Sitemap</a></li>
  </ul>
</div>

{%- endblock -%}
