{%- extends '../../common/layouts/default.njk' -%}
{%- set accessibilityStatementActive = true -%}
{%- set page_title = 'Accessibility statement' -%}

{%- block content -%}

<h1 class="govuk-heading-xl">
  Accessibility statement
</h1>

<p class="govuk-body">
 
</p>

{%- endblock -%}