{%- extends '../../common/layouts/default.njk' -%}

{%- block content -%}
    
<h1 class="govuk-heading-xl">{{function.name}}</h1>
<div class="app-inset-text">
  <h2 class="govuk-heading-l">
    Overview
  </h2>
  {{ govukSummaryList({
    rows: [
      {
        key: {
          html: '<strong>Total <span class="govuk-visually-hidden">number of services which are</span> live:</strong>'
        },
        value: {
          text: function.stats.total_live
        }
      },
      {
        key: {
          html: '<strong class="govuk-tag govuk-tag--red">High risk<span class="govuk-visually-hidden"> services</span>:</strong>'
        },
        value: {
          text: function.stats.high_risk
        }
      },
      {
        key: {
          html: '<strong class="govuk-tag govuk-tag--orange">Medium risk<span class="govuk-visually-hidden"> services</span>:</strong>'
        },
        value: {
          text: function.stats.medium_risk
        }
      },
      {
        key: {
          html: '<strong class="govuk-tag govuk-tag--yellow">Low risk<span class="govuk-visually-hidden"> services</span>:</strong>'
        },
        value: {
          text: function.stats.low_risk
        }
      },
      {
        key: {
          html: '<strong class="govuk-tag govuk-tag--green">Compliant<span class="govuk-visually-hidden"> services</span>:</strong>'
        },
        value: {
          text: function.stats.compliant_risk
        }
      }
    ]
  }) }}

  {{ statsSection({
    service_name: function.name,
    heading: 'True compliance',
    heading_hidden: 'of ' + function.name,
    heading_level: 3,
    heading_class: 'govuk-heading-m',
    stats_type: 'true',

    rate_total: function.stats.rates.true_total,
    total_live: function.stats.total_live,
    total_live_compliant: function.stats.total_live_compliant,

    rate_citizen: function.stats.rates.true_citizen,
    total_live_citizen: function.stats.total_live_citizen,
    total_live_compliant_citizen: function.stats.total_live_compliant_citizen,

    rate_staff: function.stats.rates.true_staff,
    total_live_staff: function.stats.total_live_staff,
    total_live_compliant_staff: function.stats.total_live_compliant_staff,

    total_descoped: function.stats.total_descoped
  }) }}

  {{ statsSection({
    service_name: function.name,
    heading: 'Strategic compliance',
    heading_hidden: 'of ' + function.name,
    heading_level: 3,
    heading_class: 'govuk-heading-m',
    stats_type: 'strategic',

    rate_total: function.stats.rates.strategic_total,
    total_live: function.stats.total_live,
    total_live_compliant: function.stats.total_live_compliant,

    rate_citizen: function.stats.rates.true_citizen,
    total_live_citizen: function.stats.total_live_citizen,
    total_live_compliant_citizen: function.stats.total_live_compliant_citizen,

    rate_staff: function.stats.rates.strategic_staff,
    total_live_staff: function.stats.total_live_staff,
    total_live_compliant_staff: function.stats.total_live_compliant_staff,

    total_descoped: function.stats.total_descoped
  }) }}
</div>

{%- include './partials/live-services.njk' -%}
{%- include './partials/not-live-services.njk' -%}

{%- endblock -%}