{%- from "../../../node_modules/govuk-frontend/govuk/components/skip-link/macro.njk" import govukSkipLink -%}
{%- from "../../common/components/progress-bar/macro.njk" import progressBar -%}
{%- from "../../common/components/labels/macro.njk" import labels -%}
{%- from "../../common/components/stats-section/macro.njk" import statsSection with context -%}
{%- from "govuk/components/summary-list/macro.njk" import govukSummaryList -%}
{%- from "govuk/components/warning-text/macro.njk" import govukWarningText -%}

<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{{page_title}} - {{config.org_name}} accessibility statistics - {{config.date}}</title>

  <style>
    {% include '../../assets/css/style.css' %}
  </style>
</head>

<body>
  {{ govukSkipLink({
    text: "Skip to main content",
  href: "#main"
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-width-container govuk-!-margin-top-9">
      <div class="govuk-grid-column-one-third">
        {%- include '../components/nav/template.njk'%}
      </div>
      
      <div class="govuk-grid-column-two-thirds">
        <main id="main">
            {%- block content -%}{%- endblock  -%}
        </main>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-width-container">
      <div class="govuk-grid-column-full-width">
        <footer>
          <p class="govuk-body-s govuk-!-margin-bottom-0">Accessibility compliance figures for {{config.org_name}}</p>
          <p class="govuk-body-s">These statistics were generated on {{config.date}}</p>
        </footer>
      </div>
    </div>
  </div>
</body>
</html>
