{%- extends '../common/layouts/default.njk' -%}

{%- block content -%}

<h1 class="govuk-heading-xl">{{directorate.name}}</h1>

<h2 class="govuk-heading-l">Overview</h2>
<div class="app-inset-text">
  {{ statsSection({
    service_name: directorate.name,
    heading: 'True compliance',
    heading_hidden: 'of ' + directorate.name,
    heading_level: 3,
    heading_class: 'govuk-heading-m',
    stats_type: 'true',

    rate_total: directorate.stats.rates.true_total,
    total_live: directorate.stats.total_live,
    total_live_compliant: directorate.stats.total_live_compliant,

    rate_citizen: directorate.stats.rates.true_citizen,
    total_live_citizen: directorate.stats.total_live_citizen,
    total_live_compliant_citizen: directorate.stats.total_live_compliant_citizen,

    rate_staff: directorate.stats.rates.true_staff,
    total_live_staff: directorate.stats.total_live_staff,
    total_live_compliant_staff: directorate.stats.total_live_compliant_staff,

    total_descoped: directorate.stats.total_descoped
  }) }}

  {{ statsSection({
    service_name: directorate.name,
    heading: 'Strategic compliance',
    heading_level: 3,
    heading_hidden: 'of ' + directorate.name,
    heading_class: 'govuk-heading-m',
    stats_type: 'strategic',

    rate_total: directorate.stats.rates.strategic_total,
    total_live: directorate.stats.total_live,
    total_live_compliant: directorate.stats.total_live_compliant,

    rate_citizen: directorate.stats.rates.true_citizen,
    total_live_citizen: directorate.stats.total_live_citizen,
    total_live_compliant_citizen: directorate.stats.total_live_compliant_citizen,

    rate_staff: directorate.stats.rates.strategic_staff,
    total_live_staff: directorate.stats.total_live_staff,
    total_live_compliant_staff: directorate.stats.total_live_compliant_staff,

    total_descoped: directorate.stats.total_descoped
  }) }}
</div>

<h2 class="govuk-heading-l">Breakdown by function</h2>
<div class="app-inset-text">
  {%- for function in directorate.functions -%}
    <h3 class="govuk-heading-m">
      <a class="govuk-link" href="{{function.link}}">{{function.name}}</a>
    </h3>

    {{ statsSection({
      service_name: function.name,
      heading: 'True compliance',
      heading_hidden: 'of ' + function.name,
      heading_level: 4,
      heading_class: 'govuk-heading-m',
      stats_type: 'true',

      rate_total: function.stats.rates.true_total,
      total_live: function.stats.total_live,
      total_live_compliant: function.stats.total_live_compliant,

      rate_citizen: function.stats.rates.true_citizen,
      total_live_citizen: function.stats.total_live_citizen,
      total_live_compliant_citizen: function.stats.total_live_compliant_citizen,

      rate_staff: function.stats.rates.true_staff,
      total_live_staff: function.stats.total_live_staff,
      total_live_compliant_staff: function.stats.total_live_compliant_staff,

      total_descoped: function.stats.total_descoped
    }) }}

    {{ statsSection({
      service_name: function.name,
      heading: 'Strategic compliance',
      heading_hidden: 'of ' + function.name,
      heading_level: 4,
      heading_class: 'govuk-heading-m',
      stats_type: 'strategic',

      rate_total: function.stats.rates.strategic_total,
      total_live: function.stats.total_live,
      total_live_compliant: function.stats.total_live_compliant,

      rate_citizen: function.stats.rates.true_citizen,
      total_live_citizen: function.stats.total_live_citizen,
      total_live_compliant_citizen: function.stats.total_live_compliant_citizen,

      rate_staff: function.stats.rates.strategic_staff,
      total_live_staff: function.stats.total_live_staff,
      total_live_compliant_staff: function.stats.total_live_compliant_staff,

      total_descoped: function.stats.total_descoped
    }) }}

    <hr class="govuk-!-margin-bottom-8" aria-hidden="true" />
  {%- endfor -%}
</div>

{%- endblock -%}