<h3 class="govuk-caption-m">
  Support links
</h3>
<ul>
  <li class="app-nav__list-item{{' app-nav__list-item--active' if accessibilityStatementActive}}">
    <a class="govuk-link govuk-link--no-visited-state" href="/accessibility-statement">
      Accessibility statement
    </a>
  </li>
  <li class="app-nav__list-item{{' app-nav__list-item--active' if nextStepsActive}}">
    <a class="govuk-link govuk-link--no-visited-state" href="/next-steps-for-this-report">
      Next steps for this report
    </a>
  </li>
  <li class="app-nav__list-item{{' app-nav__list-item--active' if sitemapActive}}">
    <a class="govuk-link govuk-link--no-visited-state" href="/sitemap">
      Sitemap
    </a>
  </li>
</ul>