{%- extends '../../common/layouts/default.njk' -%}
{%- set page_title = directorate.name + ' statistics' -%}

{%- block content -%}

<h1 class="govuk-heading-xl">
  {{directorate.name}}
  {% if directorate.alias.length > 0 %}<span class="govuk-caption-xl">{{directorate.alias}}</span>{% endif %}
</h1>

<div class="app-inset-text">
  <h2 class="govuk-heading-l">
    Overview
  </h2>
  {{ govukSummaryList({
    rows: [
      {
        key: {
          html: '<strong>Total <span class="govuk-visually-hidden">number of services which are</span> live:</strong>'
        },
        value: {
          text: directorate.stats.total_live
        }
      },
      {
        key: {
          html: '<strong class="govuk-tag govuk-tag--red">High risk<span class="govuk-visually-hidden"> services</span>:</strong>'
        },
        value: {
          text: directorate.stats.high_risk
        }
      },
      {
        key: {
          html: '<strong class="govuk-tag govuk-tag--orange">Medium risk<span class="govuk-visually-hidden"> services</span>:</strong>'
        },
        value: {
          text: directorate.stats.medium_risk
        }
      },
      {
        key: {
          html: '<strong class="govuk-tag govuk-tag--yellow">Low risk<span class="govuk-visually-hidden"> services</span>:</strong>'
        },
        value: {
          text: directorate.stats.low_risk
        }
      },
      {
        key: {
          html: '<strong class="govuk-tag govuk-tag--green">Compliant<span class="govuk-visually-hidden"> services</span>:</strong>'
        },
        value: {
          text: directorate.stats.compliant_risk
        }
      }
    ]
  }) }}

  {{ statsSection({
    service_name: directorate.name,
    heading: 'True compliance',
    heading_hidden: 'of ' + directorate.name,
    heading_level: 3,
    heading_class: 'govuk-heading-m',
    stats_type: 'true',

    rate_total: directorate.stats.rates.true_total,
    total_live: directorate.stats.total_live,
    total_live_compliant: directorate.stats.total_live_compliant,

    rate_citizen: directorate.stats.rates.true_citizen,
    total_live_citizen: directorate.stats.total_live_citizen,
    total_live_compliant_citizen: directorate.stats.total_live_compliant_citizen,

    rate_staff: directorate.stats.rates.true_staff,
    total_live_staff: directorate.stats.total_live_staff,
    total_live_compliant_staff: directorate.stats.total_live_compliant_staff,

    total_descoped: directorate.stats.total_descoped
  }) }}

  {{ statsSection({
    service_name: directorate.name,
    heading: 'Strategic compliance',
    heading_level: 3,
    heading_hidden: 'of ' + directorate.name,
    heading_class: 'govuk-heading-m',
    stats_type: 'strategic',

    rate_total: directorate.stats.rates.strategic_total,
    total_live: directorate.stats.total_live,
    total_live_compliant: directorate.stats.total_live_compliant,

    rate_citizen: directorate.stats.rates.true_citizen,
    total_live_citizen: directorate.stats.total_live_citizen,
    total_live_compliant_citizen: directorate.stats.total_live_compliant_citizen,

    rate_staff: directorate.stats.rates.strategic_staff,
    total_live_staff: directorate.stats.total_live_staff,
    total_live_compliant_staff: directorate.stats.total_live_compliant_staff,

    total_descoped: directorate.stats.total_descoped
  }) }}
</div>

{%- endblock -%}