// Font overrides
$govuk-font-family: Arial, Helvetica, sans-serif;
html { font-family: $govuk-font-family }

// GOVUK Frontend
@import 'node_modules/govuk-frontend/govuk/all';

// App components
@import 'src/common/components/progress-bar/sass';
@import 'src/common/components/nav/sass';
@import 'src/common/components/labels/sass';


.app-inset-text {
  border-left: 5px solid $govuk-border-colour;
  padding-left: 2rem;
}

footer {
  border-top: 1px solid $govuk-border-colour;
  padding-top: 1rem;
}